<div class="whiteBG">
	<div class="container">
		<div id="searchRestaurant" class="row">
			<div class="col-md-7">
				<h1>Restaurant Search</h1>
			</div>
			<div class="col-md-5">
				<div class="searchBG">
					<h2>Search Details</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="restaurantSearch" class="container heightFix">
	<div class="row">
		<div class="col-md-12">
			<div	id="gmContainer" class="row mapCanvas"></div>
		</div>
		<div class="col-md-offset-7 col-md-5">
			<div class="sideBar">
				<%= form_tag(controller: 'restaurant', action: 'search', method: 'post') do %>
					<%= text_field_tag('search', params[:search], maxlength: 20, placeholder: 'search', :class => "search") %>
					<%= submit_tag('Find', :class => "submit") %>
				<% end %>
			</div>
			<div class="listBG">
				<h2>Restaurants</h2>
			</div>
			<div class="sideBar">
				<div id="searchResult" style="height: 450px; overflow:scroll">
					<% if (nil != @searchResult) %>
						<% @searchResult.each do |result| %>
							<div class="row searchItem">
								<div class="col-md-4">
									<%= link_to image_tag('/image/restaurant logo/' << result.imageUrl, style:"width:100%; height:100%; align:middle"), {controller: 'restaurant', action: 'detail', restaurant: result.identifier, method: 'post'}, :target => "_blank" %>
								</div>
								<div class="col-md-8">
									<h3><%= result.name %></h3>
									<ul class="listDetails">
										<li><%= result.search %></li>
										<li><%= result.phone %></li>
										<li><%= result.address %></li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="promotion">
										<p>
											<span>Current Promotion:</span>
											<%= result.VIPBiteDeal %>
										</p>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function initialize_withLoc()
	{
		var featureOpts = [{
			stylers: [
	        { visibility: 'simplified' }, ] },
	        { elementType: 'labels', stylers: [ { visibility: 'off' } ] }
	    ];

		MY_MAPTYPE_ID = 'VIPbite';

	    var styledMapOptions = { name: 'VIPbite' };
	    var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

	    var mapProperties = {
	    	center:new google.maps.LatLng(51.0500,-114.0667),
			zoom:13,
			mapTypeControlOptions: { mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID] },
			mapTypeId: MY_MAPTYPE_ID,
			scrollwheel: false,
			navigationControl: false,
			mapTypeControl: false,
			scaleControl: false,
			draggable: false,
	    };

	    map = new google.maps.Map(document.getElementById("gmContainer"),mapProperties);
	    map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
	};

	$(window).bind("load", function() {
		$("#howItWork").hide();
		$("#staticHeader").addClass("subHead");
		$("#gmContainer").height($("#restaurantSearch").height());
		initialize_withLoc();
		$('html, body').animate({ scrollTop: $("#searchRestaurant").offset().top}, 500);
	})
</script>